/* begin::GLobal CSS */

.text-center {
    text-align:center;
}

.has-error {
    color: #f4516c!important;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}



/* Popup OnPage - Start */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    overflow: auto;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.overlay .close-custom {
    text-align: right;
}

.overlay .close-custom i {
    cursor: pointer;
}

.overlay.overlay-document {
    z-index: 1055;
}

.popup {
    margin: 20px auto;
    padding: 20px 0;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 40%;
    position: relative;
    /*transition: all 5s ease-in-out;*/
}

.overlay.overlay-document .popup {
    margin: 30px auto;
}

.popup h2 {
    background: #029048;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 5px 0;
    color: #fff;
}

.popup .close {
    position: absolute;
    top: 24px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #fff;
}

.popup .content {
    max-height: 50%;
    overflow: auto;
}

/* Popup OnPage - End */

/* end::GLobal CSS */


/* begin::Login Page CSS */
.login-page {
    background-color: #fff
}

.login-page .logo {
    margin: 30px auto 0;
    padding: 40px;
    text-align: center
}

.login-page .content {
    width: 400px;
    margin: 70px auto
}

.login-page .form-title {
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 400!important
}

.login-page .form-subtitle {
    font-size: 17px;
    font-weight: 300!important;
    padding-left: 10px
}

.login-page .content h4 {
    color: #555
}

.login-page .content .hint {
    color: #b7d1e2;
    padding: 0;
    font-size: 14px;
    margin: 15px 0 7px
}

.login-page .content .forget-form,
.login-page .content .login-form {
    padding: 0;
    margin: 0
}

.login-page .content select.form-control {
    padding-left: 9px;
    padding-right: 9px
}

.login-page .content .forget-form,
.login-page .content .register-form {
    display: none
}

.login-page .content .form-title {
    font-weight: 300;
    margin-bottom: 25px
}

.login-page .content .form-actions {
    clear: both;
    border: 0;
    padding: 0 30px 25px;
    margin-left: -30px;
    margin-right: -30px
}

.login-page .form-actions .forget-password-block {
    padding-top: 7px
}

.login-page .login-options {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 1px solid #69a0c4;
    border-bottom: 1px solid #69a0c4
}

.login-options h4 {
    margin-top: 8px;
    font-weight: 600;
    font-size: 15px;
}

.login-options .social-icons {
    float: right;
    padding-top: 3px
}

.login-options .social-icons li a {
    border-radius: 15px!important;
    -moz-border-radius: 15px!important;
    -webkit-border-radius: 15px!important
}

.login-page .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px
}

.login-page .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.login-page .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block
}

.login-page .content .rememberme {
    margin-top: 8px
}

.login-page .copyright {
    text-align: center;
    padding: 10px;
    font-size: 13px
}

@media (max-width:1400px) {
    .login-page .logo {
        margin-top: 0px
    }
}

@media (max-width:480px) {
    .login-page .logo {
        margin-top: 30px;
        padding: 0
    }
    .login-page .content {
        width: 245px
    }
    .login-page .content h3 {
        font-size: 22px
    }
    .login-page .checkbox {
        font-size: 13px
    }
}


/* end::Login Page CSS */
/* start::Saloon List Page CSS */
#popup_saloon_add .popup .portlet{
    margin-bottom:0px;
}
/* end::Saloon List Page CSS */
