<div class="fileLoader">
    <span class="file-loader">
    <div style="padding:1%;background:#fff; margin:18%;">
        <div class="progress">
        	<div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:{{ $root.progress }}%">
              {{ $root.progress }}%
            </div>
            </div>
        </div>
    </span>
</div>