<div class="login-page">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
                <img src="../assets/pages/img/logo-big-white.png" style="height: 17px;" alt="" /> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form name="formforgetform" class="login-form" angular-validator-submit="forget_password()" role="form" novalidate angular-validator>
            <div class="form-title">
                <span class="form-title">Forget Password ?</span>
                <span class="form-subtitle">Enter your e-mail to reset it.</span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" ng-model="form_forget_password.email" placeholder="Password" required required-message="'This field is required.'" validate-on='blur' />
                </div>
            </div>
            <div class="form-actions">
                <a ng-href="#login" id="back-btn" class="btn btn-default">Back</a>
                <button type="submit" class="btn btn-primary uppercase pull-right">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="copyright"> 2014 © Saloon. </div>
    <!-- END LOGIN -->
</div>