<!-- BEGIN CONTENT BODY -->
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- END PAGE HEADER-->
    <div class="row no-margin">


        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <div class="btn-group">
                            <button ng-click="add_saloon()" class="btn sbold green"> Add New Saloon
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                <thead>
                    <tr>
                        <th>
                            <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th> Saloon Name </th>
                        <th> Saloon Phone </th>
                        <th> Country </th>
                        <th> State </th>
                        <th> City </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="saloon in saloon_list.saloons" class="odd gradeX">
                        <td>
                            <label class="mt-checkbox mt-checkbox-outline mt-checkbox-single">
                                <input type="checkbox" class="checkboxes" value="1" />
                                <span></span>
                            </label>
                        </td>
                        <td> {{ saloon.saloon_name }} </td>
                        <td> {{ saloon.saloon_phone }} </td>
                        <td> {{ saloon.country}} </td>
                        <td class="center"> {{ saloon.state}} </td>
                        <td>
                            <span class="label label-sm bg-green-jungle bg-font-green-jungle"> Approved </span>
                        </td>
                        <td>
                            <a href="javascript:;" class="btn btn-xs red"> Edit
                                                                            <i class="fa fa-edit"></i>
                                                                        </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="saloon_list.total_rows" class="table-pagination">
                <div >
                    <div class="col-xs-11 no-padding no-margin">
                        
                        <ul uib-pagination total-items="saloon_list.total_rows" max-size="5" ng-model="filters.page" items-per-page="filters.limit" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="get_saloon_list()"></ul>
                        <span class="p-label">
                    Showing
                    <span class="bold">{{filters.page * filters.limit - filters.limit + 1}}</span> to
                        <span class="bold">{{filters.page * filters.limit + saloon_list.saloons.length - filters.limit}}</span> of
                        <span class="bold">{{saloon_list.total_rows}}</span> records.
                        </span>
                    </div>
                    <div class="col-xs-1 no-padding-right pager-filter marginTop-20 text-right">
                        <select class="selectpicker" id="pager" data-width="100%" name="rows_limit" ng-model="filters.limit" ng-change="reset_pagination();">
                            <option ng-repeat="limit_option in filters.limit_options" value="{{limit_option}}">{{limit_option}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- END CONTENT BODY -->
<div ng-include="'app/components/saloon/saloonAddPopup.html'"></div>