<div class="box">
    <div class="overlay" id="popup_saloon_add" ng-class="popup_saloon_add ? 'active' :''">
        <div class="popup">
            <div file-loader ng-show="show_document_upload_loader"></div>
            <div class="col-md-12 ">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject font-dark sbold uppercase">Add Saloon</span>
                        </div>
                        
                    </div>
                    <div class="portlet-body form">
                        <form name="formsaloonadd" class="form-horizontal" angular-validator-submit="submit()" role="form" novalidate angular-validator>
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Saloon Name</label>
                                    <div class="col-md-9">
                                        <div>
                                            <input type="text" class="form-control" placeholder="Enter Saloon Name" name="saloon_name" ng-model="$parent.form_saloon.saloon_name" required required-message="'This field is required.'" validate-on='blur'>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Saloon Address</label>
                                    <div class="col-md-9">
                                        <div>
                                            <input type="text" class="form-control" placeholder="Enter Saloon Address" name="saloon_address" ng-model="$parent.form_saloon.saloon_address" required required-message="'This field is required.'" validate-on='blur'>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Country </label>
                                    <div class="col-md-9">
                                        <div>
                                            <select class="form-control" name="country_id" ng-model="$parent.form_saloon.country_id" required required-message="'This field is required.'" validate-on='blur' ng-change="country_change()">
                                                <option value="">Select Country</option>
                                                <option ng-repeat="country in countries" value="{{country.country_id}}"> {{country.title}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">State</label>
                                    <div class="col-md-9">
                                        <div>
                                            <select class="form-control" name="state_id" ng-model="$parent.form_saloon.state_id" required required-message="'This field is required.'" validate-on='blur' ng-change="state_change()">
                                                <option value="">Select State</option>
                                                <option ng-repeat="state in states" value="{{state.state_id}}"> {{state.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">City</label>
                                    <div class="col-md-9">
                                        <div>
                                            <select class="form-control" name="city_id" ng-model="$parent.form_saloon.city_id" required required-message="'This field is required.'" validate-on='blur'>
                                                <option value="">Select City</option>
                                                <option ng-repeat="city in cities" value="{{city.city_id}}"> {{city.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Saloon Phone</label>
                                    <div class="col-md-9">
                                        <div>
                                            <input type="text" class="form-control" placeholder="Enter Saloon Phone" name="saloon_phone" ng-model="$parent.form_saloon.saloon_phone" required required-message="'This field is required.'" validate-on='blur'>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Saloon Email </label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                                                                <i class="fa fa-envelope"></i>
                                                                                            </span>
                                            <input type="email" class="form-control" placeholder="Saloon Email" name="saloon_email" ng-model="$parent.form_saloon.saloon_email" required required-message="'This field is required.'" validate-on='blur'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">Submit</button>
                                        <button type="button" ng-click="popup_saloon_add_show_hide(false)" class="btn default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>
    </div>
</div>