<!-- BEGIN CONTENT BODY -->
<div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">Add Saloon</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="formlogin" class="form-horizontal" angular-validator-submit="submit()" role="form" novalidate angular-validator>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Saloon Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Enter Saloon Name" name="saloon_name" ng-model="form_saloon.saloon_name" required required-message="'This field is required.'" validate-on='blur'>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Saloon Address</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Enter Saloon Address" name="saloon_address" ng-model="form_saloon.saloon_address" required required-message="'This field is required.'" validate-on='blur'>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Country </label>
                                <div class="col-md-9">
                                    <select class="form-control" name="country_id" ng-model="form_saloon.country_id" required required-message="'This field is required.'" validate-on='blur' ng-change="country_change()">
                                        <option value="">Select Country</option>
                                        <option ng-repeat="country in countries" value="{{country.country_id}}"> {{country.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">State</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="state_id" ng-model="form_saloon.state_id" required required-message="'This field is required.'" validate-on='blur' ng-change="state_change()">
                                        <option value="">Select State</option>
                                        <option ng-repeat="state in states" value="{{state.state_id}}"> {{state.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">City</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="city_id" ng-model="form_saloon.city_id" required required-message="'This field is required.'" validate-on='blur'>
                                        <option value="">Select City</option>
                                        <option ng-repeat="city in cities" value="{{city.city_id}}"> {{city.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Saloon Phone</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="Enter Saloon Phone" name="saloon_phone" ng-model="form_saloon.saloon_phone" required required-message="'This field is required.'" validate-on='blur'>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Saloon Email </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                        <input type="email" class="form-control" placeholder="Saloon Email" name="saloon_email" ng-model="form_saloon.saloon_email" required required-message="'This field is required.'" validate-on='blur'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Submit</button>
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->